<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/angular/angular.js"></script>
    <script type="text/javascript" src="../js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../js/test6.js"></script>
</head>

<body ng-app="MyApp">
<div ng-controller="MyController">
    <h2>我的备忘录</h2>
    <input type="text" ng-model="newTodo"><button ng-click="add()">新增</button>
    <div ng-repeat="ss in todos">
        <input type="checkbox" ng-show="s1=true" ng-model="ss.isChecked">
        <span>{{ss.name}}</span>
    </div>

    <p><button ng-click="removeItem()">删除选中的记录</button></p>
</div>

</body>
</html>